.dropbtn {
  color: #a1a9b5;
  padding: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.dropbtn:hover {
  color: #fff;
}

.dropbtn::after {
  content: "";
  position: absolute;
  display: inline;
  width: 16px;
  height: 16px;
  right: -6px;
  transition-duration: 0.2s;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icon-arrow'%3E%3Cpath id='arrow-angle-down' d='M4.20717 6.2083C3.67099 6.74448 4.34494 7.29392 4.34494 7.29392C5.56281 8.51179 7.99856 10.9475 7.99856 10.9475C7.99856 10.9475 10.4368 8.50933 11.6559 7.29022C11.6559 7.29392 12.294 6.71234 11.7899 6.2083C11.2859 5.70427 10.7108 6.34634 10.7108 6.33957C9.80674 7.24366 7.99856 9.05184 7.99856 9.05184C7.99856 9.05184 6.19489 7.24817 5.29305 6.34634C5.29305 6.33957 4.74336 5.67212 4.20717 6.2083Z' fill='%23A1A9B5'/%3E%3Cmask id='mask0_0_209' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='4' y='6' width='8' height='5'%3E%3Cpath id='arrow-angle-down_2' d='M4.20717 6.2083C3.67099 6.74448 4.34494 7.29392 4.34494 7.29392C5.56281 8.51179 7.99856 10.9475 7.99856 10.9475C7.99856 10.9475 10.4368 8.50933 11.6559 7.29022C11.6559 7.29392 12.294 6.71234 11.7899 6.2083C11.2859 5.70427 10.7108 6.34634 10.7108 6.33957C9.80674 7.24366 7.99856 9.05184 7.99856 9.05184C7.99856 9.05184 6.19489 7.24817 5.29305 6.34634C5.29305 6.33957 4.74336 5.67212 4.20717 6.2083Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_0_209)'%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.dropbtn:hover::after {
  filter: brightness(0) invert(1);
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.active {
  display: block;
  filter: brightness(0) invert(1);
}

.dropbtn.active::after {
  transform-origin: center;
  transform: rotate(180deg);
}

.dropdownContent {
  font-size: 13px;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  right: 0;
  top: 40px;
  background: #fff;
  border: 1px solid #a1a9b5;
  border-radius: 3px;
  transition-duration: 0.8s;
  padding: 8px 0;
}

.dropdownContent a {
  color: black;
  padding: 0 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 34px;
}

.dropdownContent a:hover {
  background-color: #f7f7f7;
}

.dropdownContent a.divider {
  border-bottom: 1px solid #a1a9b5;
  padding: 4px 16px 4px;
}

.dropdown:hover .dropbtn {
  color: #fff;
}
@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}
